.card{
    height: 270px;
    transition: 0.2s all;
}

.card-img:hover{
    filter :brightness(50%);
    transform: scale(1.1);
}

.img-container{
    overflow: hidden;
}

.card-img-1{
    object-fit:contain;
    height: 300px;
    width: 100%;
}

.card-img{
    object-fit:contain;

}

.carousel-box{
    margin: auto;
}

body{
    background-color: rgb(12, 12, 12);
}